body {
  display: flex;
  background: black;
  justify-content: center;
  font-family: sans-serif;
  /* height: 1000px; */
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 50px auto; */
  /* width: 400px; */
  background: white;
  border-radius: 5px;
  margin-top: 100px;
}

.container h2 {
  text-align: center;
  padding: 0 0 20px 0;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.controls button {
  margin: 0;
  padding: 0;
  background: #0074d9;
  border: none;
  padding: 5px 10px;
  color: #fff;
  opacity: .5;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}

.controls button:hover {
  opacity: 1;
}
